@model SkewerListViewModel

@{
    Layout = "_Layout";
}

    <h1>@Model.CurrentCategory</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var skewer in Model.Skewers)
{
    <div class="col">
        <div class="card skewer-card">
            <img src="@skewer.ImageThumbnailUrl" class="card-img-top" alt="@skewer.SkewerName">
            <div class="card-body skewer-button">
                <h4 class="d-grid">
                </h4>

                <div class="d-flex justify-content-between mt-2">
                    <h2 class="text-start">
                        <a class="pie-link">@skewer.SkewerName</a>
                    </h2>
                    <h5 class="text-nowrap">
                        @skewer.Price.ToString("c")
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
</div>